@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url("./constants/variable.css");
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.site-width {
    max-width: 1017px;
}

.site-navbar {
    background-color: var(--light);
    position: sticky;
    top: 0;
}

.detail-table__title {
    color: var(--primary);
}

.detail-table__heading {
    font-size: 0.9rem;
    background-color: var(--on-primary);
    border-color: var(--on-primary);
}

.detail-table__body {
    display: block;
    overflow: auto;
    font-size: 0.8rem;
    /* width: calc(100% + 17px); */
}

.navbar-heading {
    height: 10vh;
}

.navbar-heading__logo {
    height: 35px;
    width: auto;
}

.table-row__icon {
    cursor: pointer;
    color: var(--primary);
}

.table-row__icon~span {
    color: var(--on-primary-lite);
}

.table__styling {
    overflow-x: auto;
}

.table__styling__style {
    width: 965px;
}

.table__styling__row {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table__textarea {
    outline: none;
    border: none;
    background-color: transparent;
    resize: none;
}

.modal-body {
    transform: translate(-50%, -50%);
    /* height: 500px; */
    /* max-height: 500px; */
    /* width: 750px; */
    max-width: 750px;
}

.modal-body__icon {
    color: var(--primary);
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .detail-table__heading {
        font-size: 1rem;
    }
    .detail-table__body {
        font-size: 0.9rem;
    }
}